# on:
#   push:
    # tags:
    #   - 'v*'
on: [push]

name: Release

jobs:
  build:
    name: Build release
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, macos-12, windows-2022]
        include:
          - os: ubuntu-22.04
            artifact_files: wssocks-ustb-*
          - os: macos-12
            artifact_files: |
              wssocks-ustb-client-macOS-amd64.app.zip
              client-ui-macOS-amd64.app.zip
          - os: windows-2022
            artifact_files: client-ui-windows-amd64.exe
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17.13
      - run: |
          go get fyne.io/fyne/v2/cmd/fyne@v2.1.2
          go mod download

      - name: Build Cli
        if: matrix.os == 'ubuntu-22.04'
        run: |
          make

      - name: Build macOS
        if: matrix.os == 'macos-12'
        run: |
          cd client-ui
          make client-ui-macOS-amd64.app -f Makefile-ci
          zip -r client-ui-macOS-amd64.app.zip client-ui-macOS-amd64.app
          mv client-ui-macOS-amd64.app.zip ../
          cd ../
          echo "building swiftui-client"
          cd extra/go-api && make && cd ../../
          cd swiftui-client && xcodebuild -arch x86_64 -arch arm64
          cd build/Release/ && zip -r wssocks-ustb-client-macOS-universal.app.zip wssocks-ustb-client.app && cd ../../../
          mv swiftui-client/build/Release/wssocks-ustb-client-macOS-universal.app.zip ./

      - name: Build Windows
        if: matrix.os == 'windows-2022'
        run: |
          cd client-ui
          make client-ui-windows-amd64.exe -f Makefile-ci
          cd ../
          mv client-ui/client-ui-windows-amd64.exe client-ui-windows-amd64.exe

      - uses: actions/upload-artifact@v2
        with:
          name: build-artifact-${{ matrix.os }}
          path: ${{ matrix.artifact_files }}

  release:
    name: On Release
    needs: build
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: build-artifact-ubuntu-22.04
      - uses: actions/download-artifact@v2
        with:
          name: build-artifact-windows-2022
      - uses: actions/download-artifact@v2
        with:
          name: build-artifact-macos-12
      - run: ls -R

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            client-ui-windows-amd64.exe
            client-ui-macOS-amd64.app.zip
            wssocks-ustb-client-macOS-universal.app.zip
            wssocks-ustb-darwin-amd64
            wssocks-ustb-linux-arm64
            wssocks-ustb-linux-amd64
            wssocks-ustb-windows-amd64.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
